[submodule "hardware/squantorPcbLibrary"]
	path = hardware/squantorPcbLibrary
	url = https://github.com/Squantor/squantorPcbLibrary.git
[submodule "software/lpc_chip_82x"]
	path = software/lpc_chip_82x
	url = https://github.com/Squantor/lpc_chip_82x.git
[submodule "software_embedded/lpc_chip_82x"]
	path = software_embedded/lpc_chip_82x
	url = https://github.com/Squantor/lpc_chip_82x.git
[submodule "software_embedded/squantorLibEmbeddedC"]
	path = software_embedded/squantorLibEmbeddedC
	url = https://github.com/Squantor/squantorLibEmbeddedC.git
[submodule "software_embedded/squantorLibC"]
	path = software_embedded/squantorLibC
	url = https://github.com/Squantor/squantorLibC.git
